mixin icon(name, mod)
  if (typeof mod !== "undefined")
    - mod = ' ' + mod
  else
    - mod = ''
  svg(class="icon icon-" + name + mod)
    use(xlink:href="static/i/icons/symbol/sprite.svg#icon-" + name)