.img-intrinsic {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.35s ease-out;
    width: 100%;

    &.lazyloaded {
      opacity: 1;
    }
  }
}
