include ../mixins
block variables

doctype html
|
|
<html class="no-js" lang="ru">
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Some description")
  link(href="static/css/main.css" rel="stylesheet")
  script(src="static/js/vendor/modernizr.min.js")
body(class=pageClass)
  include ../modules/header
  main.main
    .container
      block content
  include ../modules/footer
  include ../modules/modal
  include ../modules/grid
  script(src="static/js/libs.min.js")
  script(src="static/js/main.js")
|
|
</html>