$font-root-path: "../fonts/";

@mixin fontFace($font-name, $font-file-name, $font-weight, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    src:
      url($font-root-path + $font-file-name + ".woff2") format("woff2"),
      url($font-root-path + $font-file-name + ".woff") format("woff");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// @include fontFace(Nexa, "nexa-light-webfont", 300);
